/* basic style for page */
html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgrey;
}

a { 
  text-decoration: none; 
  color: black;
}

/* covers description and footer */
.App-deck, .App-selectionmenu {
  text-align: center;
}

/* side navigation Sidenav.tsx */
.App-sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  white-space: nowrap;
}

.App-sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 23px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.App-sidenav a:hover {
  color: white;
  background-color: black;
}

.Opennav, .Closenav {
  color: white;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.Closenav {
  position: absolute;
  top: 0;
  right: 20px;
  margin-left: 50px;
  font-size: 40px;
}

.Opennav {
  float: left;
  padding-left: 10px;
  padding-bottom: 15px;
  font-size: 30px;
}

@media screen and (max-height: 450px) {
  .Sidenav {padding-top: 15px;}
  .Sidenav a {font-size: 18px;}
  }

/* header with title and sideNav open button Header.tsx */
.App-header {
  text-align: center;
  background-color: #222;
  height: 50px;
  padding: 0px;
  color: white;
}

.Headertable {
  margin: 0px auto;
  width: 100%;
}

.Headercolm {
  width: 33%;
}

/* footer Deck_Footer.tsx */
.App-footer, .App-footer p{
  opacity: 0;
  transition: 0.5s;
}

.App-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #222;
  color: white;
  display: inline-block;
  height: 0px;  
}

.App-footer p {
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
}

.Divider {
  padding-left: 50px;
  display: inline-block;
}

.Footerbutton {
  background-color: white;
  color: black;
  border: none;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
}

.Footerbutton:hover {
  background-color: #222;
  color: white;
}

/* Description (the flash cards) Deck_description.tsx */
.App-description {
  display: inline-block;
  padding-bottom: 100px;
}

.Boxed {
  background-color: white;
  width: 460px;
  border: 0px;
  padding: 15px;
  margin: 20px auto;
}

.Expandable {
  opacity: 0;
  transition: 0.5s;
}


/* menu where you select your deck Deckselection.tsx */
.Selectionmenu {
  display: inline-block;
  padding-bottom: 100px;
}

.Accordion {
  background-color: white;
  color: #222;
  border: none;
  cursor: pointer;
  padding: 18px;
  width: 55vw;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.Accordion:hover {
  background-color: black;
  color: white;
}

.active {
  background-color: #222;
  color: white;
}

.Panel {
  padding: 0 18px;
  width: 50vw;
  margin-left:auto;
  margin-right: 0;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}