body {
  background-color: lightgrey;
}

.Headertable {
  margin: 0px auto;
  width: 100%;
}

.Headercolm {
  width: 33%;
}

.Sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.Sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.Sidenav a:hover {
  color: #f1f1f1;
}

.Closenav {
  position: absolute;
  top: 0;
  right: 20px;
  margin-left: 50px;
  font-size: 40px;
  color: white;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.Opennav {
  float: left;
  padding-left: 10px;
  padding-bottom: 15px;
  font-size: 30px;
  color: white;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 0px;
  color: white;
}

.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: medium;
}

.Boxed {
  background-color: white;
  /*width: 50%*/
  width: 460px;
  border: 0px;
  padding: 15px;
  margin: 20px auto;

}

.Expandable {
  
  overflow: hidden;
  transition: all .5s ease-in-out;
  transform-origin: left top;
  transform: scaleY(0);
}

.Expandable:target {
  transform: scaleY(1);
}

a { 
  text-decoration: none; 
  color: black;
}

@media screen and (max-height: 450px) {
  .Sidenav {padding-top: 15px;}
  .Sidenav a {font-size: 18px;}
  }